<!doctype html>

<head>
<title>Admin Panel</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	    <!-- Latest compiled and minified CSS -->
	    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> -->

	    <!-- Optional theme -->
	    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"> -->

	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> -->

	    <!-- Latest compiled and minified JavaScript -->
	    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> -->

	    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script>
		$( document ).ready(function() {
	    	console.log( "ready!" );

	    	$("input[name='team']").change(function(){
			    console.log("Changed in outer function....");
			    //showMembersForTeam();
			});

			//setInterval(function(){ alert("Hello"); }, 3000);

			/*var ts_python = 1503438179//15033640908173969
			var d = new Date(ts_python*1000);
			var date_str = d.getFullYear()+"-"+(d.getMonth()+1)+"-"+d.getDate()+" "+d.getHours()+":"+d.getMinutes()+":"+d.getSeconds();

			alert("Date is: "+date_str)*/
	  	});

	  	function sendBotMessage() {
	    	var message_text = document.getElementById("user_custom_message").value;
	    	console.log("Trying to send a bot message:"+message_text);

	    	var request = $.ajax({
	        	url: "/sendBotMessage",
	        	type: "GET",
	        	data: {text: message_text},
	        	dataType: "html",
	        	async: true, 
	        	success : function (msg)
	        	{
	          		console.log( "Sending bot messages a success! ("+message_text+")" );
	          		//location.reload();
	        	}
	      	});
	  	}

	  	function showMembersForTeam() {
		  	console.log("Changed in inner function....");
		  	team_id = $('input[name=team]:checked', '').val();
		  	console.log("Selected team: " + team_id);

		  	var request = $.ajax({
		        url: "/getSlackTeamMembers",
		        type: "GET",
		        data: {team_id: team_id},
		        dataType: "html",
		        async: true, 
		        success : function (msg)
		        {
		          	console.log( "Getting the members of the team a success! ("+msg+")" );
		          	var members_html = msg;

		          	console.log("Members inner html: " + members_html);

		  			member_div = document.getElementById("team_members");
		  			member_div.innerHTML = members_html;
		        }
		    });
		}

		function addToStudy(slack_id, team_id, name) {
	    	console.log("Adding study participant, Slack_id: "+slack_id+", Team_id: "+team_id+", Name: "+name);

	    	var request = $.ajax({
	        	url: "/addStudyParticipant",
	        	type: "GET",
	        	data: {slack_id: slack_id, team_id: team_id, name: name},
	        	dataType: "html",
	        	async: true, 
	        	success : function (msg)
	        	{
	          		console.log( "Adding participant a success! ("+slack_id+")" );
	          		location.reload();
	        	}
	      	});
	  	}

	  	function assignParticipantToSurvey(survey_id) {
	    	console.log("Assigning selected participant to survey: " + survey_id);
	    	participant_id = $('input[name=participant]:checked', '').val();

	    	var request = $.ajax({
	        	url: "/assignParticipantToSurvey",
	        	type: "GET",
	        	data: {user_id: participant_id, survey_id: survey_id},
	        	dataType: "html",
	        	async: true, 
	        	success : function (msg)
	        	{
	          		console.log( "Adding participant to a survey! ("+survey_id+", "+participant_id+")" );
	          		location.reload();
	        	}
	      	});
	  	}

	  	function sendSurveyToParticipant(survey_id) {
	    	console.log("Send selected survey to the participant: " + survey_id);
	    	participant_id = $('input[name=participant]:checked', '').val();

	    	var request = $.ajax({
	        	url: "/sendSurveyToParticipant",
	        	type: "GET",
	        	data: {user_id: participant_id, survey_id: survey_id},
	        	dataType: "html",
	        	async: true, 
	        	success : function (msg)
	        	{
	          		console.log( "Sending survey to participant! ("+survey_id+", "+participant_id+")" );
	          		//location.reload();
	        	}
	      	});
	  	}

	  	function sendDirectMessage(slack_id, team_id, name) {
	    	console.log("Sending a direct message to slack user, Slack_id: "+slack_id+", Team_id: "+team_id+", Name: "+name);

	    	var text = prompt("Please enter the message to be sent to "+name+":", "Hello "+name);
		    if (text == null || text == "") {
		        alert("Sending message cancelled!");
		    } else {
		        var request = $.ajax({
		        	url: "/sendBotMessage",
		        	type: "GET",
		        	data: {user_id: slack_id, team_id: team_id, text: text},
		        	dataType: "html",
		        	async: true, 
		        	success : function (msg)
		        	{
		          		console.log( "Sending direct message success! ("+slack_id+")" );
		          		//location.reload();
		        	}
		      	});
		    }
	  	}

	  	function updateParticipant(user_id) {
	    	console.log("Update the selected particiant: " + user_id);

	    	var request = $.ajax({
	        	url: "/updateParticipant",
	        	type: "GET",
	        	data: {user_id: user_id},
	        	dataType: "html",
	        	async: true, 
	        	success : function (msg)
	        	{
	          		console.log( "Sending update request to participant! ("+user_id+")" );
	          		location.reload();
	        	}
	      	});
	  	}

	  	function updateAllParticipants() {
	    	console.log("Update all particiants...");

	    	var request = $.ajax({
	        	url: "/updateAllParticipants",
	        	type: "GET",
	        	data: {},
	        	dataType: "html",
	        	async: true, 
	        	success : function (msg)
	        	{
	          		console.log("Sending update request for all participants!");
	          		location.reload();
	        	}
	      	});
	  	}

	  	function assignReflectiveQuestions(user_id, name) {
	    	console.log("Assigning reflective quetions for participant: " + user_id);

	    	if (confirm("Do you really want to assign new reflective questions to participant "+name+" ?") == true) {
        		alert("Assigning reflective questions to participant: "+name+" !");

		    	var request = $.ajax({
		        	url: "/assignReflectiveQuestionsToParticipant",
		        	type: "GET",
		        	data: {user_id: user_id},
		        	dataType: "html",
		        	async: true, 
		        	success : function (msg)
		        	{
		          		console.log( "Assigning reflective questions to participant! ("+user_id+")" );
		          		location.reload();
		        	}
		      	});

		    } else {
		    	console.log("Cancelled!")
		        alert("Cancelled");
		    }
	  	}

	  	function setDeviceIDForUser(user_id, name, current_device_id) {
	    	console.log("Asking to set the device id for user id: "+user_id);

	    	var text = prompt("Please enter the device id to be set for user "+user_id+", name:"+name, current_device_id);
		    if (text == null || text == "") {
		        alert("Setting the device cancelled!");
		    } else {
		        var request = $.ajax({
		        	url: "/setDeviceIDForUser",
		        	type: "GET",
		        	data: {user_id: user_id, new_device_id: text},
		        	dataType: "html",
		        	async: true, 
		        	success : function (msg)
		        	{
		          		console.log( "Sending device id for user success! "+user_id+": ("+text+")" );
		          		location.reload();
		        	}
		      	});
		    }
	  	}

	  	function setTaskForUserReflectiveQuestion(user_id, log_id) {
	  		console.log("Setting the task for user: <"+user_id+"> reflective question id: <"+log_id+">...");

	  		var text = prompt("Please enter the task to be set for user "+user_id+" question...");
		    if (text == null || text == "") {
		        alert("Setting the task cancelled!");
		    } else {
		        var request = $.ajax({
		        	url: "/setTaskForUserRQ",
		        	type: "GET",
		        	data: {user_id: user_id, log_id: log_id, task: text},
		        	dataType: "html",
		        	async: true, 
		        	success : function (msg)
		        	{
		          		console.log( "Setting task for user success! "+user_id+", "+log_id+": ("+text+")" );
		          		//location.reload();
		        	}
		      	});
		    }
	  	}

	  	function showReflectiveQuestionAssignmentForParticipant() {
		  	console.log("Show reflective question assignment for participant....");
		  	
		  	participant_id = $('input[name=participant]:checked', '').val();
		  	console.log("Participant id: " + participant_id);

		  	if (participant_id !== undefined && participant_id !== null) {
			  	var request = $.ajax({
			        url: "/getRQsForParticipant",
			        type: "GET",
			        data: {user_id: participant_id },
			        dataType: "html",
			        async: true, 
			        success : function (msg)
			        {
			          	console.log( "Getting the RQs for participant a success! ("+msg+")" );
			          	var members_html = msg;

			          	console.log("Members inner html: " + members_html);

			  			member_div = document.getElementById("reflective_question_assignment");
			  			member_div.innerHTML = members_html;
			        }
			    });
			} else {
				alert("Participant not selected!")
			}
		}

		function showSurveyLogForParticipant() {
		  	console.log("Show survey log for participant....");
		  	
		  	participant_id = $('input[name=participant]:checked', '').val();
		  	console.log("Participant id: " + participant_id);

		  	if (participant_id !== undefined && participant_id !== null) {
			  	var request = $.ajax({
			        url: "/getSurveyLogForParticipant",
			        type: "GET",
			        data: {user_id: participant_id },
			        dataType: "html",
			        async: true, 
			        success : function (msg)
			        {
			          	console.log( "Getting the survey log for participant a success! ("+msg+")" );
			          	var members_html = msg;

			          	console.log("Members inner html: " + members_html);

			  			member_div = document.getElementById("survey_log");
			  			member_div.innerHTML = members_html;
			        }
			    });
			} else {
				alert("Participant not selected!")
			}
		}
	</script>
</head>
<body>
<center>
	<div>UTC now: {{ utc_time }}</div>
	<div>PST now (our server baseline): {{ pst_time }}</div>
	<button type="button" onclick="return updateAllParticipants();"> Update all</button>
	<h1>Participants enrolled in study</h1>
	<table>
		<tr>
			<th>#</th>
			<th>Time added</th>
			<th>Last update</th>
			<th>Team ID</th>
			<th>Slack ID</th>
			<th>Name</th>
			<th>State</th>
			<th>Timezone</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Device ID</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	{% for x in study_participants %}
		<tr>
			<td><input type="radio" name="participant" value="{{ x.id }}">{{ loop.index }}</td>
			<td>{{ x.time_added }}</td>
			<td>{{ x.last_update }}</td>
			<td>{{ x.team_id }}</td>
			<td>{{ x.slack_id }}</td>
			<td>{{ x.name }}</td>
			<td>{{ x.state }}</td>
			<td>{{ x.timezone }}</td>
			<td>{{ x.email }}</td>
			<td>{{ x.phone }}</td>
			<td style="text-align: right">
				{% if x.device_id is not none %}
					{{ x.device_id[-10:] }}
				{% else %}
					{{ x.device_id }}
				{% endif %}
				<button type="button" onclick="return setDeviceIDForUser('{{ x.id }}','{{ x.name }}','{{ x.device_id }}');">+</button>
			</td>
			<td>
				<a href='/by_day_dashboard?user_id={{ x.id }}' target='_blank'>day</a><br />
				<a href='/dashboard?user_id={{ x.id }}' target='_blank'>group question</a><br />
				<a href='/dashboard2?user_id={{ x.id }}' target='_blank'>question</a><br />
				<a href='/visualization?user_id={{ x.id }}' target='_blank'>visual</a>
			</td>
			<td>
				<button type="button" onclick="return sendDirectMessage( '{{ x.slack_id }}', '{{ x.team_id }}', '{{ x.name }}' );">Send Direct Message</button>
			</td>
			<td>
				<button type="button" onclick="return updateParticipant('{{ x.id }}');">Update</button>
			</td>
			<td>
				<button style="background-color:#FFDDDD" type="button" onclick="return assignReflectiveQuestions('{{ x.id }}','{{ x.name }}');">Assign reflective questions</button>
			</td>
		</tr>
    {% endfor %}
    </table>
    <br />
    	<button type="button" onclick="return showSurveyLogForParticipant();">Show survey log</button>
    	<button type="button" onclick="return showReflectiveQuestionAssignmentForParticipant();">Show reflective <br />question assignment</button>
    <br />
    	<div id="survey_log">
    	</div>
    	
    	<div id="reflective_question_assignment">
    	</div>
    <br />
    <h1>Defined surveys</h1>
	<table>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Type</th>
			<th>Modality</th>
			<th>Questions</th>
			<th>Schedule</th>
			<th>Current participant assignments</th>
			<th>Assign participant</th>
			<th></th>
		</tr>
	{% for x in survey_schemas %}
		<tr>
			<td>{{ x.id }}</td>
			<td>{{ x.name }}</td>
			<td>{{ x.type }}</td>
			<td>{{ x.modality }}</td>
			<td style='text-align: left'>
				<ul>
					{% for y in survey_questions %}
						{% if y.survey_id==x.id %}
							<li> {{ y.id }}. {{ y.text }}</li>
						{% endif %}
					{% endfor %}
				</ul>
			</td>
			<td style='text-align: left'>
				<ul>
					{% for y in survey_schedules %}
						{% if y.survey_id==x.id %}
							{% set weekday_text = "None" %}
							
							{% set weekday_text = "Monday" if y.week_day == 0 %}
							{% set weekday_text = "Tuesday" if y.week_day == 1 %}

							<li> {{ y.id }}. {{ y.week_day | replace("0","Monday") | replace("1","Tuesday") | replace("2","Wednesday") | replace("3","Thursday") | replace("4","Friday") | replace("5", "Saturday") | replace("6", "Sunday")}}, {{ y.hour }}:{{ y.minute | replace("0 ", "00") }}</li>
						{% endif %}
					{% endfor %}
				</ul>
			</td>
			<td>
				<ul>
					{% for y in participant_survey_assignment %}
						{% if y.survey_id==x.id %}
							{% for z in study_participants %}
								{% if z.id==y.user_id %}
									<li> {{ z.slack_id }} - {{ z.name }}</li>
								{% endif %}
							{% endfor %}
						{% endif %}
					{% endfor %}
				</ul>
			</td>
			<td>
				<button type="button" onclick="return assignParticipantToSurvey('{{ x.id }}');">Assign participant <br /> to survey</button>
			</td>
			<td>
				<button type="button" onclick="return sendSurveyToParticipant('{{ x.id }}');">Send survey <br />to participant</button>
			</td>
		</tr>
    {% endfor %}
    </table>

    <br />
    <hr />
    <br />
	<h1>Teams that approved access</h1>
	<table>
		<tr>
			<th>#</th>
			<th>Time</th>
			<th>Team ID</th>
			<th>Access token</th>
		</tr>
	{% for x in team_approvals %}
		<tr>
			<td><input type="radio" name="team" value="{{ x.id }}"></td>
			<td>{{ x.timestamp }}</td>
			<td>{{ x.id }}</td>
			<td>{{ x.authorization_token }}</td>
		</tr>
    {% endfor %}
    </table>
    <div id="team-navigation">
    	<button type="button" onclick="return showMembersForTeam();">Show team members</button>
    </div> 

    <div id="team_members">
    </div>
    
    <h1>Messages from users on slack</h1>
	<table>
		<tr>
			<th>ID</th>
			<th>Time</th>
			<th>User ID</th>
			<th>SL_ID
			<th>S_ID</th>
			<th>T_ID</th>
			<th>Q_ID</th>
			<th>Type</th>
			<th>Text</th>
		</tr>
	{% for x in survey_question_log %}
		<tr>
			<td>{{ x.id }}</td>
			<td>{{ x.timestamp }}</td>
			<td>{{ x.user_id }}</td>
			<td>{{ x.survey_log_id }}</td>
			<td>{{ x.survey_id }}</td>
			<td>{{ x.schedule_id }}</td>
			<td>{{ x.question_id }}</td>
			<td>{{ x.question_type }}</td>
			<td>{{ x.text }}</td>
		</tr>
    {% endfor %}
    </table>

    <!-- <h1>Send bot message</h1>
    <textarea id="user_custom_message" rows="4" cols="50"></textarea><br/>
    <button type="button" onclick="return sendBotMessage();">Make bot send message</button> -->

</center>
</body>
